/* Menú principal */
.menu-container{
    display: flex;
    justify-content: center;
}

.menu{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.menu-logo{
    margin: 0px 5%;
}